export CLUSTER_NAME=fastapi-eks-demo
export CLUSTER_NS=default
export AWS_REGION=us-east-1
export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)

export APP_NAME=fastapi-s3-pg

#export SERVICE_ACCOUNT=fastapi-s3-pg-sa
export ECR_REPO=fastapi-s3-pg
export S3_BUCKET=fastapi-eks-demo-ijk

export IAM_POLICY_NAME=FastApiS3Policy
export IAM_ROLE_NAME=FastApiS3Role

# DB
export DB_INSTANCE_ID=fastapi-demo-db
export DB_INSTANCE_CLASS=db.t3.micro
export DB_NAME=appdb
export DB_USER=appuser
export DB_PASSWORD='TopSecretDBPassword!'
